.frameChild {
  height: 150px;
  width: 149px;
  position: absolute;
  margin: 0 !important;
  top: -126px;
  left: -47px;
  border-radius: 50%;
  object-fit: cover;
}
.decisionMaker {
  position: relative;
  font-size: 16px;
  letter-spacing: -0.01em;
  line-height: 18px;
  font-family: DINPro-Bold;
  color: #fff;
  text-align: left;
  display: inline-block;
  min-width: 22px;
}
.dataAggregator {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2px 0 0;
}
.materialSymbolsstarIcon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
}
.dataAggregatorParent {
  cursor: pointer;
  border: 0;
  padding: 4px 12px;
  background-color: transparent;
  border-radius: 17px;
  background: linear-gradient(180deg, #0b0b0b, rgba(11, 11, 11, 0.79));
  overflow: hidden;
  justify-content: flex-start;
  gap: 4px;
  z-index: 1;
}
.dataAggregatorParent,
.ellipseParent,
.frameWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.ellipseParent {
  justify-content: flex-start;
  position: relative;
}
.frameWrapper {
  width: 274px;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
}
.drPrernaNarang {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.01em;
  line-height: 28px;
  font-weight: 700;
  font-family: inherit;
}
.imageAnalyzerIcon {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.generalMedicalCheckup {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 20px;
}
.dataTransformer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}
.layoutOrganizerIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.generalMedicalCheckup1 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 20px;
  font-weight: 600;
}
.layoutOrganizerParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;
}
.comment1Icon {
  height: 16px;
  width: 18px;
  position: relative;
  object-fit: contain;
}
.speaksEnglishHindi {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 20px;
}
.conditionChecker,
.dataTransformer1 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.dataTransformer1 {
  flex-direction: row;
  align-items: center;
  gap: 12px;
  color: #656565;
}
.conditionChecker {
  flex-direction: column;
  align-items: flex-start;
  padding: 0 21px;
  gap: 7px;
}
.b,
.videoConsultation {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 20px;
  display: inline-block;
}
.videoConsultation {
  font-weight: 600;
  min-width: 120px;
}
.b {
  color: #3a643b;
  min-width: 34px;
  white-space: nowrap;
}
.colorSelector {
  flex: 1;
  border-radius: 10px;
  background-color: #fff7e2;
  border: 1px solid rgba(58, 100, 59, 0.39);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 6px 7px 3px;
  gap: 4px;
  min-width: 102px;
}
.chatConsultation,
.free {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 20px;
  display: inline-block;
}
.chatConsultation {
  font-weight: 600;
  min-width: 113px;
}
.free {
  color: #3a643b;
  min-width: 28px;
}
.colorSelector1 {
  flex: 1;
  border-radius: 10px;
  background-color: #fff7e2;
  border: 1px solid rgba(58, 100, 59, 0.39);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 6px 7px 3px;
  gap: 4px;
  min-width: 97px;
}
.alignmentHelper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  gap: 8px;
  font-size: 14px;
  color: #3c3c3c;
}
.frameGroup,
.outputCombiner,
.shapeManager {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.outputCombiner {
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #646665;
}
.frameGroup,
.shapeManager {
  align-items: flex-start;
  justify-content: flex-start;
}
.frameGroup {
  align-items: flex-end;
  gap: 21px;
}
.viewProfile {
  position: relative;
  font-size: 16px;
  letter-spacing: -0.01em;
  line-height: 20px;
  font-weight: 600;
  font-family: Nunito;
  color: #3a643b;
  text-align: left;
  display: inline-block;
  min-width: 88px;
}
.imageInput,
.imageInputWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-decoration: none;
}
.imageInput {
  cursor: pointer;
  border: 1px solid #3a643b;
  padding: 9px 20px;
  background-color: #fff;
  flex: 1;
  border-radius: 8px;
  overflow: hidden;
  justify-content: center;
  white-space: nowrap;
}
.imageInput:hover {
  background-color: #e6e6e6;
  border: 1px solid #618a61;
  box-sizing: border-box;
}
.imageInputWrapper {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 1px 0 1.5px;
}
.bookAConsultation {
  position: relative;
  font-size: 16px;
  letter-spacing: -0.01em;
  line-height: 20px;
  font-weight: 600;
  font-family: Nunito;
  color: #fff;
  text-align: left;
}
.bookAConsultationWrapper {
  cursor: pointer;
  border: 0;
  padding: 16.5px 72.5px;
  background-color: #3a643b;
  align-self: stretch;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
.bookAConsultationWrapper:hover {
  background-color: #618a61;
}
.frameContainer {
  flex: 1;
  flex-direction: column;
  gap: 9px;
}
.frameContainer,
.frameParent,
.labelMaker {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.labelMaker {
  align-self: stretch;
  flex-direction: row;
  padding: 0 1px;
}
.frameParent {
  width: 356px;
  box-shadow: 0 4px 12.5px rgba(0, 0, 0, 0.07);
  border-radius: 30px;
  background-color: #fff7e2;
  border: 1px solid #e3e3e3;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: 153px 30px 24px 35px;
  gap: 32px;
  min-width: 356px;
  max-width: 100%;
  text-align: left;
  font-size: 32px;
  color: #2e2f2e;
  font-family: Nunito;
}
@media screen and (max-width: 975px) {
  .drPrernaNarang {
    font-size: 26px;
    line-height: 22px;
  }
  .frameParent {
    flex: 1;
  }
}
@media screen and (max-width: 725px) {
  .frameParent {
    padding-top: 99px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .drPrernaNarang {
    font-size: 19px;
    line-height: 17px;
  }
  .alignmentHelper {
    flex-wrap: wrap;
  }
  .bookAConsultationWrapper {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .frameParent {
    gap: 16px;
    min-width: 100%;
  }
}
